@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
	}
html, body {
	margin: 0px;
	padding: 0px;
	text-align:center;
}

body {
	background: url(images/wrapper2.jpg);
	font: 85% Georgia, "Times New Roman", Times, serif;
	}
br, #clear {
	clear:both;
	}
	
/* main styles */
#wrapper {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 1160px;
	height: 1150px;
	background: url(images/login.png);
	text-align: left;
	
}

/*
page style*/

#logo { position:absolute; top:50px; left:90px; border:0px; }  
  
#footer {position: absolute; bottom: 75px; left: 93px; border: 0px;}  

	
ul#menu {
	margin:0px;
	position:absolute;
	top:143px;
	left:95px;
	font-size: 13px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 15px;
	font-weight: bold;
	color: #666;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	word-spacing: normal;
	width: auto;
}  

ul#right_menu {  
    margin:0px; padding:0px;  
    position:absolute; top:145px; left:940px;  
	font-size: 10px;
}  
ul#menu li, ul#right_menu li {
	margin: 0px; padding: 0px;
	list-style: none;
	margin-right: 10px;
	text-transform: uppercase;
	display: inline;

}
ul#menu li a, ul#right_menu li a {
	text-decoration: none;
	color: #616161;

}
ul#menu li a:hover, ul#right_menu li a:hover {
	text-decoration: none;
	color: #ffffff;
}
/*
Form Style
*/
form {
	position: absolute;
	top: 420px;
	left: 400px;
	width: 375px;
	height: 250px;
	background: url(images/Login_bg.png) no-repeat;
	padding-top: 70px;
	padding-right: 45px;
	padding-bottom: 45px;
	padding-left: 50px;
}

input{
	background: #666
	position: relative;
	width: 250px;
	background: #fff;
    padding: 6px;
    margin-bottom: 20px;
	margin-left:5px;
	border-top: 1px solid #ad64e0
    border-left: 5px;
    border-right: 0px;
    border-bottom: 1px;
	text-align: center;
}
input.submit {
	width: 150px;
    color: #666;
    text-transform: uppercase;
    text-shadow: #000 1px 1px;
    border-top: 1px solid #fff;
    margin-top: 2px;
	margin-left: 65px;
	
}
#Username {
	position: absolute; top: 495px; left: 280px;
}
#Password {
	position: absolute; top: 552px; left:282px;
}
